Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database defined
A database is an organized collection of structured information, or data, typically stored
electronically in a computer system. A database is usually controlled by a database management system (DBMS). 
Together, the data and the DBMS, along with the applications that are associated with them, are referred to 
as a database system, often shortened to just database.
SQL databases define and manipulate data-based structured query language (SQL). Seeing from a side this language
is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe
choice, especially for great complex queries. But from another side, it can be restrictive. SQL requires you to 
use predefined schemas to determine the structure of your data before you work with it. Also, all of your data
must follow the same structure. This can require significant up-front preparation which means that a change in
the structure would be both difficult and disruptive to your whole system. 
 

A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be
document-oriented, column-oriented, graph-based, or organized as a key-value store. This flexibility means that
documents can be created without having a defined structure first. Also, each document can have its own unique 
structure. The syntax varies from database to database, and you can add fields as you go.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ata Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to
create or modify the tables in SQL.
DL Commands :
In this section, We will cover the following DDL commands as follows.

Create
Alter 
truncate
drop
Rename

CREATE :
This command is used to create a new table in SQL. The user has to give information like
table name, column names, and their datatypes.
example : 
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing
table name and can do add, delete or modify tasks easily.

ALTER TABLE Student_info
ADD CGPA number;

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
TRUNCATE TABLE Student_info;
DROP :
This command is used to remove an existing table along with its structure from the Database.
DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

The SQL data manipulation language (DML) is used to query and modify database data. 
In this chapter, we will describe how to use the SELECT, INSERT, UPDATE, and DELETE SQL
DML command statements, defined below.
SELECT  – to query data in the database
INSERT  – to insert data into a table
UPDATE – to update data in a table

Q4. What is DQL? Explain SELECT with an example

DQL or data query language is to perform the query on the data inside the schema or object 
(ie table, index, view, function, etc). With the help of a DQL query, we can get the data from 
the database to perform actions or operations like analyzing the data. 
SELECT Command in SQL

SQL SELECT a query on a table or tables to view the temporary table output from the database.

Syntax

Select * from Table_Name;

Q5. Explain Primary Key and Foreign Key

The primary key is a unique or non-null key that uniquely identifies every record in 
a table or relation. Each database needs a unique identifier for every row of a table, and 
the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't 
store duplicate values. It is also called a minimal super key; therefore, we cannot specify 
more than one primary key in any relationship.

The foreign key is a group of one or more columns in a database to uniquely identify another database record
in some other table to maintain the referential integrity. It is also known as the referencing key that
establishes a relationship between two different tables in a database. A foreign key always matches the 
primary key column in another table. It means a foreign key column in one table refers to the primary key
column of another table. A foreign key is beneficial in relational database normalization,
especially when we need to access records from other tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

import peewee
from peewee import *

db = MySQLDatabase('jonhydb', user='john', passwd='megajonhy')

class Book(peewee.Model):
    author = peewee.CharField()
    title = peewee.TextField()

    class Meta:
        database = db

Book.create_table()
book = Book(author="me", title='Peewee is cool')
book.save()
for book in Book.filter(author="me"):
    print book.title

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT DISTINCT <TOP_specification> <select_list>
FROM <left_table>
<join_type> JOIN <right_table>
ON <join_condition>
WHERE <where_condition>
GROUP BY <group_by_list>
HAVING <having_condition>
ORDER BY <order_by_list>